<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="motion_detector_flutter_example">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- BroadcastReceiver to receive ActivityRecognition updates -->
        <!-- No intent-filter is required because we use an explicit class PendingIntent -->
        <receiver
            android:name="com.weorbis.motion_detector.ActivityRecognizedBroadcastReceiver"
            android:exported="false" />

        <!-- Optional: Foreground service for continuous background operation -->
        <service
            android:name="com.weorbis.motion_detector.ForegroundService"
            android:exported="false" />
    </application>

    <!-- Permissions: For API 29+ you need android.permission.ACTIVITY_RECOGNITION (runtime).
         For API 28 and earlier, Play services used com.google.android.gms.permission.ACTIVITY_RECOGNITION. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>
